* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.projects-section,
.about-section,
.next-section {
  position: relative;
  width: 100%;
  margin: 0;
  padding-top: 10vh;
  height: 90vh;
}

.nav-span {
  position: absolute;
  top: -10vh;
}

/* -----NAVIGATION BAR------ */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: fixed;
  padding: 0 5%;
  background-color: white;
  height: 10vh;
  z-index: 1;
}

.nav-logo {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.nav-logo-pic {
  width: 90px;
  padding: 5px;
  height: 90px;
}

.nav-menu-list {
  display: flex;
  font-size: 1.5rem;
  list-style: none;
  text-transform: lowercase;
  align-items: center;
  justify-content: space-between;
  gap: 0 1rem;
}

.nav-menu-list a {
  text-decoration: none;
  border-bottom: 6px dotted transparent;
}

.nav-menu-list a:hover {
  border-bottom: 6px dotted #f8edeb;
}

.nav-logo-name {
  background: linear-gradient(to right, black, #7400b8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Caveat", sans-serif;
  width: 50%;
  font-size: 5rem;
}

.nav-list1 {
  background: linear-gradient(to right, #f72585 30%, #7400b8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-list1,
.nav-list2,
.nav-list3 {
  transition: transform 250ms;
}

.nav-list1:hover,
.nav-list2:hover,
.nav-list3:hover {
  transform: translateY(-10px);
}

.nav-list2 {
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-list3 {
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* -----MAIN BANNER----- */
.main-container {
  width: 100%;
  margin-top: 10vh;
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 2rem;
}

.main-container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: black;
}

.main-container-content h1 {
  font-size: 7rem;
  background: linear-gradient(to right, #f72585 30%, #7400b8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 400ms ease-in-out;
}

.main-container-content h1:hover {
  transform: scale(1.02);
}

.main-container-content p {
  margin: 0vh 20vh 0 20vh;
  color: grey;
}

.main-container-pic-container {
  width: 90%;
  margin: auto;
}

.main-container-pic {
  width: 100%;
}

.main-btn {
  margin-top: 3rem;
  width: 100px;
  height: auto;
  padding: 10px;
  border-radius: 60px;
  border: none;
  text-align: center;
  text-decoration: none;
  color: grey;
  border: solid 1px rgba(0, 0, 0, 0.4);
  box-shadow: xxxx;
  transition: transform 400ms;
}

.main-btn:hover {
  transform: translateY(2px);
  border: solid 1px blue;
  color: blue;
}

/* PROJECTS */
.projects {
  width: 100%;
  height: 100vh;
}

/* -----SLIDER----- */
/* Slideshow */
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}


#slideshow {
  padding-top: 70px; /* HACK: push down from navbar, 70px */
}

/* -----CHAT BUTTON----- */
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 120px;
  background-color: transparent;
  transition: 300ms ease-in-out;
}

.open-button:focus {
  outline: none;
}
/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 20px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

/* -----ABOUT ME----- */


/* Media Queries */

@media screen and (max-width: 1400px) {
  .main-container {
    grid-template-columns: 1fr;
  }

  .main-container-pic-container {
    width: 50%;
  }
}
