* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

/* -----NAVIGATION BAR------ */
nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  top: 0;
  position: fixed;
  padding: 0px 100px;
  background-color: white;
  height: 10vh;
}

.nav-logo {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.nav-logo-pic {
  width: 90px;
  padding: 5px;
  height: 90px;
}

.nav-menu-list {
  display: flex;
  font-size: 1.5rem;
  list-style: none;
  text-transform: lowercase;
  align-items: center;
  justify-content: space-between;
}

.nav-menu-list a {
  text-decoration: none;
  border-bottom: 6px dotted transparent;
}

.nav-menu-list a:hover {
  border-bottom: 6px dotted #f8edeb;
}

.nav-logo-name {
  background: linear-gradient(to right, black, #7400b8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Caveat", sans-serif;
  width: 50%;
  font-size: 5rem;
}

.nav-list1 {
  background: linear-gradient(to right, #f72585 30%, #7400b8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-list1,
.nav-list2,
.nav-list3 {
  transition: transform 250ms;
}

.nav-list1:hover,
.nav-list2:hover,
.nav-list3:hover {
  transform: translateY(-10px);
}

.nav-list2 {
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-list3 {
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* -----MAIN BANNER----- */
.main-container {
  width: 100%;
  margin-top: 10vh;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.main-container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  color: black;
  margin-top: -20vh;
}

.main-container-content h1 {
  font-size: 10rem;
  background: linear-gradient(to right, #f72585 30%, #7400b8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 400ms ease-in-out;
}

.main-container-content h1:hover {
  transform: scale(1.02);
}

.main-container-content p {
  margin: 0vh 20vh 0 20vh;
  color: grey;
}

.main-container-pic {
  width: 750px;
}

.main-btn {
  margin-top: 3rem;
  width: 100px;
  height: auto;
  padding: 10px;
  border-radius: 60px;
  border: none;
  text-align: center;
  text-decoration: none;
  color: grey;
  border: solid 1px rgba(0, 0, 0, 0.4);
  box-shadow: xxxx;
  transition: transform 400ms;
}

.main-btn:hover {
  transform: translateY(2px);
  border: solid 1px blue;
  color: blue;
}

/* ABOUT */
.about {
  width: 100%;
  height: 200vh;
}

/* -----PROJECTS----- */
/* Slideshow */
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  height: calc(60vh - 70px);
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  counter-increment: item;
  background-size: cover;
  background-repeat: no-repeat;
  outline: none;
}

.carousel__slide:nth-child(1) {
  background-image: url("./img/slide1.jpg");
}

.carousel__slide:nth-child(2) {
  background-image: url("./img/slide2.jpg");
}

.carousel__slide:nth-child(3) {
  background-image: url("./img/slide3.jpg");
}

.carousel__slide:nth-child(4) {
  background-image: url("./img/slide4.jpg");
}

.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
  outline: none !important;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 3rem;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: 2rem;
}

.carousel::after,
.carousel__next {
  right: 2rem;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

#slideshow {
  padding-top: 70px; /* HACK: push down from navbar, 70px */
}

/* -----CHAT BUTTON----- */
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 120px;
  background-color: transparent;
  transition: 300ms ease-in-out;
}

.open-button:focus {
  outline: none;
}
/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 20px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  transform: scale(1.05);
  opacity: 0.8;
}
